<h1>TOUS LES RESTAURANTS</h1>
<%= link_to "Creer un Restaurant", new_restaurant_path %>
<ul>
  <li><h4>Name, Description, Address, Rating</h4></li>
  <% @restaurants.each do |restaurant|%>
    <li><h2><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2></li>
    <li><h4><%= link_to "Mettre à jour", edit_restaurant_path(restaurant) %></h4></li>
    <li><h4><%= link_to "Supprimer le!", restaurant_path(restaurant), method: :delete %></h4></li>
    <li><%= "#{restaurant.description} | #{restaurant.address} | #{restaurant.rating}" %></li>
  <% end %>
</ul>
